name: CBP-NG CI Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
#        os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Build
      shell: bash
      run: ./compile test_harcom
    - name: Test
      shell: bash
      run: ./test_harcom
